u{
    font-size: 300%;
}
h1{
    text-align: center;
    padding: 40px;
}
div{
    justify-content: center;
}
.row{
    display: flex;
}
.leftcolumn{
    flex: 25%;
    padding: 2%;
}
.rightcolumn {
    flex: 75%;
    padding: 2%;
}
.frame{
    background-color: gray;
    display: inline-block;
    width: 20%;
    float: left;
    display: flex;
}
image{
    border-radius: 20px;
    border-color: gray;
}