.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: lightslategray;
  color: white;
}


u{
    font-size: 150%;
}
h1 {
    text-align: left;
    margin: 0;
}
div{
    justify-content: center;
}
.row{
    display: flex;
}
.leftcolumn{
    flex: 20%;
    float: left;
}
.rightcolumn {
    flex: 80%;
    padding: 20px;
}
.frame {
    display: inline-block;
    width: 20%;
}