u{
    font-size: 300%;
}
h1{
    text-align: center;
}
div{
    justify-content: center;
}
.row{
    display: flex;
}
.column{
    flex: 45%;
    padding: 2%;
}
.frame{
    background-color: gray;
    height: 300px;
    width: 25%;
    float: left;
    display: flex;
}
image{
    height: 95%;
    width: 95%;
}